<div class="card" id="translations">
  <div class="card-divider">
    <h2 class="card-title flex--sbc">
      <div>
        <%= link_to t("decidim.term_customizer.menu.term_customizer"), translation_sets_path %>
        &gt;
        <%= translated_attribute(set.name) %>

        <span id="js-selected-proposals-count" class="component-counter component-counter--inline" title="<%= t("decidim.term_customizer.admin.translations.index.selected") %>"></span>
      </div>

      <div class="flex--cc flex-gap--1">
        <%= render partial: "decidim/term_customizer/admin/translations/bulk_actions/dropdown" %>

        <div id="js-other-actions-wrapper">
          <% if allowed_to? :create, :translation %>
            <%= link_to t("actions.add_multiple_translations", scope: "decidim.term_customizer.admin"), translation_set_add_translations_path(set), class: "button tiny button--simple" %>
            <%= link_to t("actions.new_translation", scope: "decidim.term_customizer.admin"), new_translation_set_translation_path(set), class: "button tiny button--simple" %>
          <% end %>
          <% if allowed_to? :import, :translation_set, translation_set: set %>
            <%= link_to t("actions.import", scope: "decidim.term_customizer.admin"), import_translation_set_translations_path(set), class: "button tiny button--simple" %>
          <% end %>
          <% if set.translations.count > 0 && allowed_to?(:export, :translation_set, translation_set: set) %>
            <%= render partial: "export_dropdown" %>
          <% end %>
        </div>

        <%= render partial: "decidim/term_customizer/admin/translations/bulk_actions/destroy" %>
      </div>
    </h2>
  </div>
  <div class="card-section">
    <% if @translations.count > 0 %>
      <div class="table-scroll">
        <table class="table-list">
          <thead>
            <tr>
              <th>
                <%= check_box_tag "translations_bulk", "all", false, class: "js-check-all" %>
              </th>
              <th><%= t("models.translations.fields.key", scope: "decidim.term_customizer.admin") %></th>
              <th><%= t("models.translations.fields.original_term", scope: "decidim.term_customizer.admin") %></th>
              <th><%= t("models.translations.fields.term", scope: "decidim.term_customizer.admin") %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @translations.each do |translation| %>
              <tr>
                <td>
                  <%= check_box_tag "translation_ids_s[]", translation.id, false, class: "js-check-all-translation js-translation-list-check  js-translation-id-#{translation.id}" %><br />
                </td>
                <td>
                  <%= translation.key %>
                </td>
                <td>
                  <%= @directory.translations.term(translation.key) %>
                </td>
                <td>
                  <%= translation.value %>
                </td>
                <td class="table-list__actions">
                  <% if allowed_to? :update, :translation, translation: translation %>
                    <%= icon_link_to "pencil", edit_translation_set_translation_path(set, translation), t("actions.configure", scope: "decidim.admin"), class: "action-icon--new" %>
                  <% end %>

                  <% if allowed_to? :destroy, :translation, translation: translation %>
                    <%= icon_link_to "circle-x", translation_set_translation_path(set, translation), t("actions.destroy", scope: "decidim.admin"), method: :delete, class: "action-icon--remove", data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @translations, theme: "decidim" %>
      </div>
    <% else %>
      <div class="text-center">
        <%= t ".no_records_html", add_multiple_link: translation_set_add_translations_path(set), button_name: t("decidim.term_customizer.admin.actions.add_multiple_translations") %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag "decidim_term_customizer_translations_admin_bulk" %>
