<% add_decidim_page_title(translated_attribute(set.name)) %>

<div class="card" id="translations">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <div>
        <%= translated_attribute(set.name) %>

        <span id="js-selected-proposals-count" class="component-counter component-counter--inline" title="<%= t("decidim.term_customizer.admin.translations.index.selected") %>"></span>
      </div>

      <div id="flex items-center gap-x-4">
        <%= render partial: "decidim/term_customizer/admin/translations/bulk_actions/dropdown" %>
        <% if allowed_to? :create, :translation %>
          <%= link_to t("actions.add_multiple_translations", scope: "decidim.term_customizer.admin"), translation_set_add_translations_path(set), class: "button button__sm button__secondary" %>
          <%= link_to t("actions.new_translation", scope: "decidim.term_customizer.admin"), new_translation_set_translation_path(set), class: "button button__sm button__secondary" %>
        <% end %>
        <% if allowed_to? :import, :translation_set, translation_set: set %>
          <%= link_to t("actions.import", scope: "decidim.term_customizer.admin"), import_translation_set_translations_path(set), class: "button button__sm button__secondary" %>
        <% end %>
        <% if set.translations.count > 0 && allowed_to?(:export, :translation_set, translation_set: set) %>
          <%= render partial: "export_dropdown" %>
        <% end %>
      </div>

      <%= render partial: "decidim/term_customizer/admin/translations/bulk_actions/destroy" %>

    </h1>
  </div>

  <div class="table-scroll mt-16">
    <% if @translations.count > 0 %>
      <table class="table-list">
        <thead>
          <tr>
            <th>
              <%= check_box_tag "translations_bulk", "all", false, class: "js-check-all" %>
            </th>
            <th><%= t("models.translations.fields.key", scope: "decidim.term_customizer.admin") %></th>
            <th><%= t("models.translations.fields.original_term", scope: "decidim.term_customizer.admin") %></th>
            <th><%= t("models.translations.fields.term", scope: "decidim.term_customizer.admin") %></th>
            <th class="actions"><%= t("actions.title", scope: "decidim.term_customizer.admin") %></th>
          </tr>
        </thead>
        <tbody>
          <% @translations.each do |translation| %>
            <tr>
              <td>
                <%= check_box_tag "translation_ids_s[]", translation.id, false, class: "js-check-all-translation js-translation-list-check  js-translation-id-#{translation.id}" %><br>
              </td>
              <td>
                <%= translation.key %>
              </td>
              <td>
                <%= @directory.translations.term(translation.key) %>
              </td>
              <td>
                <%= translation.value %>
              </td>
              <td class="table-list__actions">
                <% if allowed_to? :update, :translation, translation: translation %>
                  <%= icon_link_to "pencil-line", edit_translation_set_translation_path(set, translation), t("actions.configure", scope: "decidim.admin"), class: "action-icon--new" %>
                <% end %>

                <% if allowed_to? :destroy, :translation, translation: translation %>
                  <%= icon_link_to "delete-bin-line", translation_set_translation_path(set, translation), t("actions.destroy", scope: "decidim.admin"), method: :delete, class: "action-icon--remove", data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @translations, theme: "decidim" %>
    <% else %>
      <div class="mt-4">
        <%= t ".no_records_html", add_multiple_link: translation_set_add_translations_path(set), button_name: t("decidim.term_customizer.admin.actions.add_multiple_translations") %>
      </div>
    <% end %>
  </div>
</div>

<%= append_javascript_pack_tag "decidim_term_customizer_admin_bulk" %>
