<% add_decidim_page_title(t("translations.new.title", scope: "decidim.term_customizer.admin")) %>

<div class="item_show__header">
  <h1 class="item_show__header-title">
    <div>
      <%= link_to translated_attribute(set.name), translation_set_translations_path(set) %>
      &gt;
      <%= t "translations.new.title", scope: "decidim.term_customizer.admin" %>

      <a data-toggle="help-panel" class="label h-6 button button__sm button__secondary">
        <%= icon "information-line" %>
        <%= t("actions.help", scope: "decidim.term_customizer.admin") %>
      </a>
    </div>
  </h1>
</div>

<div id="help-panel" class="callout help-text hide" data-toggler=".hide">
  <p><strong><%= t ".help_title" %></strong></p>
  <%= t ".help_html" %>
  <p><strong><%= t ".term_help_title" %></strong></p>
  <%= t ".term_help_html" %>
</div>

<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, url: translation_set_translations_path(set), html: { class: "form-defaults form translation-sets-form new_translation translation_form_admin" }) do |f| %>
      <%= render partial: "form", object: f, locals: { title: t(".title") } %>
      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= f.submit t(".create"), class: "button button__sm button__secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
