<div id="help-panel" class="callout help-text hide" data-toggler=".hide">
  <p><strong><%= t ".help_title" %></strong></p>
  <%= t ".help_html" %>
  <p><strong><%= t ".constraint_help_title" %></strong></p>
  <%= t ".constraint_help_html" %>
</div>
<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :name, autofocus: true %>
      </div>
    </div>
  </div>

  <div class="multifield-fields constraints-container" data-placeholder-id="<%= blank_constraint.to_param %>">
    <template>
      <%= fields_for "constraints[#{blank_constraint.to_param}]", blank_constraint do |constraint_form| %>
        <%= render "constraint_fields", form: constraint_form, index: blank_constraint.to_param, id: tabs_id_for_constraint(blank_constraint) %>
      <% end %>
    </template>

    <div class="multifield-fields-list constraints-list space-y-2">
      <% @form.constraints.each do |constraint| %>
        <%= fields_for "constraints[]", constraint do |constraint_form| %>
          <%= render "constraint_fields", form: constraint_form, index: constraint.id || blank_constraint.to_param, id: tabs_id_for_constraint(constraint) %>
        <% end %>
      <% end %>
    </div>

    <div class="mt-4">
      <button class="button button__sm button__secondary add-field add-constraint"><%= t(".add_constraint") %></button>
    </div>
  </div>
</div>

<%= append_javascript_pack_tag "decidim_term_customizer_admin" %>
