<div class="card" id="translation_sets">
  <div class="card-divider">
    <h2 class="card-title flex--sbc">
      <div>
        <%= t "decidim.term_customizer.admin.titles.translation_sets" %>
      </div>

      <div class="flex--cc flex-gap--1">
        <div id="js-other-actions-wrapper">
          <% if allowed_to? :create, :translation_set %>
            <%= link_to t("actions.new_translation_set", scope: "decidim.term_customizer.admin"), new_translation_set_path, class: "button tiny button--simple" %>
          <% end %>
          <% if allowed_to? :update, :organization %>
            <%= link_to t("actions.clear_cache", scope: "decidim.term_customizer.admin"), clear_caches_path, method: :delete, class: "button tiny button--simple", data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
          <% end %>
        </div>
      </div>
    </h2>
  </div>
  <div class="card-section">
    <% if @sets.count > 0 %>
      <div class="table-scroll">
        <table class="table-list">
          <thead>
            <tr>
              <th><%= t("models.translation_sets.fields.name", scope: "decidim.term_customizer.admin") %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @sets.each do |set| %>
              <tr>
                <td>
                  <% if allowed_to? :read, :translation %>
                    <%= link_to translated_attribute(set.name), translation_set_translations_path(set) %><br />
                  <% else %>
                    <%= translated_attribute(set.name) %>
                  <% end %>
                </td>
                <td class="table-list__actions">
                  <% if allowed_to? :read, :translation %>
                    <%= icon_link_to "eye", translation_set_translations_path(set), t("actions.view", scope: "decidim.term_customizer.admin"), class: "action-icon--show" %>
                  <% end %>

                  <% if allowed_to? :update, :translation_set, translation_set: set %>
                    <%= icon_link_to "pencil", edit_translation_set_path(set), t("actions.configure", scope: "decidim.admin"), class: "action-icon--new" %>
                  <% end %>

                  <% if allowed_to? :create, :translation_set %>
                    <%= icon_link_to "fork", duplicate_translation_set_path(set), t("actions.duplicate", scope: "decidim.term_customizer.admin"), method: :post, class: "action-icon--new", data: { confirm: t("actions.confirm_duplicate", scope: "decidim.term_customizer.admin") } %>
                  <% end %>

                  <% if allowed_to? :destroy, :translation_set, translation_set: set %>
                    <%= icon_link_to "circle-x", translation_set_path(set), t("actions.destroy", scope: "decidim.admin"), method: :delete, class: "action-icon--remove", data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="text-center">
        <%= t ".no_records_html", new_set_link: new_translation_set_path, button_name: t("decidim.term_customizer.admin.actions.new_translation_set") %>
      </div>
    <% end %>
  </div>
</div>
