<div class="card" id="add-translations-search">
  <div class="card-divider">
    <h2 class="card-title flex--sbc">
      <div>
        <%= link_to t("decidim.term_customizer.menu.term_customizer"), translation_sets_path %>
        &gt;
        <%= link_to translated_attribute(set.name), translation_set_translations_path(set) %>
        &gt;
        <%= t "decidim.term_customizer.admin.titles.add_multiple_translations" %>

        <a data-toggle="help-panel" class="label secondary">
          <%= icon("info") %>
          <%= t("actions.help", scope: "decidim.term_customizer.admin") %>
        </a>
      </div>

      <div class="flex--cc flex-gap--1">
        <div id="js-other-actions-wrapper">
          <%= link_to t("actions.back", scope: "decidim.term_customizer.admin"), translation_set_translations_path(set), class: "button hollow tiny button--simple" %>
        </div>
      </div>
    </h2>
  </div>
  <div class="card-section">
    <div id="help-panel" class="callout help-text hide" data-toggler=".hide">
      <p><strong><%= t ".help_title" %></strong></p>
      <%= t ".help_html", button_name: t(".add") %>
    </div>

    <div class="filters row">
      <div class="column medium-4">
        <%= form_tag search_translation_set_add_translations_path, method: :get do %>
          <div class="filters__search">
            <%= search_field_tag :term, nil, label: false, id: "data_picker-autocomplete", class: "input-group-field", placeholder: t(".search") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= decidim_form_for(@form, url: translation_set_add_translations_path(set), html: { class: "form translations-form add_translations translations_form_admin" }) do |f| %>
  <div id="add-translations-results" class="hide">
    <div class="card" id="add-translations">
      <div class="card-section">
        <div class="table-scroll">
          <template>
            <tr>
              <td>{{translation_key}}</td>
              <td>{{translation_term}}</td>
              <td>
                <input type="hidden" name="keys[]" value="{{translation_key}}" />
                <%= icon_link_to "circle-x", "#", t("actions.destroy", scope: "decidim.admin"), class: "remove-translation-key action-icon--remove" %>
              </td>
            </tr>
          </template>

          <table class="table-list">
            <thead>
              <tr>
                <th><%= t("models.translations.fields.key", scope: "decidim.term_customizer.admin") %></th>
                <th><%= t("models.translations.fields.term", scope: "decidim.term_customizer.admin") %></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="button--double form-general-submit">
      <%= f.submit t(".add") %>
    </div>
  </div>
<% end %>

<%= javascript_pack_tag "decidim_term_customizer_translations_admin" %>
