<%= decidim_form_for(@form, url: translation_set_translations_destroy_path(set), method: :delete, html: { class: "form translation-sets-form edit_translation translation_form_admin" }) do |f| %>
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title flex--sbc">
        <div>
          <%= link_to t("decidim.term_customizer.menu.term_customizer"), translation_sets_path %>
          &gt;
          <%= link_to translated_attribute(set.name), translation_set_translations_path(set) %>
          &gt;
          <%= t ".title" %>
        </div>

        <div class="flex--cc flex-gap--1">
          <div id="js-other-actions-wrapper">
            <%= link_to t("actions.back", scope: "decidim.term_customizer.admin"), translation_set_translations_path(set), class: "button hollow tiny button--simple" %>
          </div>
        </div>
      </h2>
    </div>

    <div class="card-section">
      <ul>
        <% @form.translations_current.each do |translation| %>
          <li>
            <%= hidden_field_tag "translation_ids[]", translation.id %>
            <%= translation.key %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="button--double form-general-submit">
    <%= f.submit t(".destroy") %>
  </div>
<% end %>
